.mainPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid red;
}
.recommended{
    display: flex;
    flex-direction: column;
    width: 10%;
    border: 1px solid blue;
}
.newest{
    display: flex;
    flex-direction: column;
    width: 10%;
    border: 1px solid yellow;
}